# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=desafio_v360

# URL de Conexão utilizada pelo Prisma ORM
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/desafio_v360?schema=public"
