# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=desafio_v360

# Alternativa com URL de conexão direta (se aplicável):
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/desafio_v360
